
.ariesCard {
  display: fix;
  width: 350px;
  padding: 10px;
  margin: 10px;
  border: 10px;
  outline-style: inset;
}

.animalName{
  width: 300px ;
  border:10 px;

  font-style: bold;
  font-size: 30px;
  text-align: auto;
  outline-style: none;
}

ul li {
  list-style: none;
  font-style: normal;
  text-align: left;
}
span {
  font-weight: bold;
  outline-style: none;
}
.fact {
  width: 300px;
  padding: 10px;
  margin: 10px;
  border: 10px
  outline-style: none;
  font-style: italic;
  font-align: left;
  background-color: lightblue;
}
.Bighornpic {
  outline-style: none;
  width: 300px;
  padding: 10px;
  margin: 10px;
  border: 10px

}
