.aries-Card {
    width: 300px;
    padding: 50px;
    margin: 10px;
    border: 10px;
    outline-style: inset;
  }
  
  .animal-Name{
    border:10px;
    font-style: bold;
    font-size: 20px;
    text-align: auto;
    outline-style: none;
  }
  
  ul {
    list-style: none;
    padding-left: 0;
    font-style: normal;
    text-align: left;
  }
  span {
    font-weight: bold;
    outline-style: none;
  }
  .fact {
    font-style: italic;
  }
  .Bighornpic {
    outline-style: none;
    border: 10px
  }
  .background {
    padding: 10px;
    background-color: lightblue;
  }